.header
  background-color: #FFFFFF
  &-top 
    display: flex
    align-items: center
    justify-content: space-between
    padding: 40px 0
         
.logo
  width: 177px
  &__img
    width: 100%
.search
  display: flex
  position: relative
  height: 40px
  max-width: 350px
  overflow: hidden
  border-radius: 6px 
  &__input
    width: 350px
    height: 100%
    padding: 12px 75px 12px 23px
    font-size: 12px
    line-height: 15px
    color: #000000
    background-color: #F5FAFE
    border: none
    &:focus
      outline: 0
    &::placeholder
      color: $text-color 
  &__button
    position: absolute
    top: 0
    right: 0
    width: 65px
    height: 100%
    background-color: $main-red
    border: none
    cursor: pointer
  
.search-header
  margin-right: auto
  margin-left: 108px

.user
  display: flex
  align-items: center
  text-decoration: none  
  &__avatar
    width: 40px
    height: 40px
    border-radius: 50%
    object-fit: cover    
  &__name
    margin-left: 18px
    color: $text-color  
.header__nav-button
  display: none
  padding: 0
  margin: 0

.navigation
  background-color: $main-dark 
  &-menu
    display: flex
    padding: 31px 0
    justify-content: space-between
    text-align: center
    font-weight: 700
    font-size: 14px
    line-height: 18px
    text-transform: uppercase
    &__item
      &--hidden
        display: none
    &__link
      &:hover
        border-bottom: 1px solid #ffffff