.hotel
  padding-bottom: 70px
.hotel-info
  padding-top: 24px
  padding-bottom: 20px
  display: flex
  justify-content: space-between
  align-items: center
  &__wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
    color: $text-color 
  &__stars
    flex-basis: 100%
  &__star
    width: 6px
    height: 6px
  &__title
    margin: 0
    font-size: 24px
    line-height: 30px
    font-weight: 700
    text-transform: uppercase
  &__offer
    margin-left: 23px 
    padding: 4px 9px
    font-weight: 600
    font-size: 10px
    line-height: 13px
    color: $color
    background-color: $main-red
    border-radius: 3px   
  &__subtitle
    flex-basis: 100%
    font-size: 12px
    line-height: 15px
   
.rating
  padding: 7px 7px
  max-width: 66px
  min-height: 45px
  background-color: $main-red
  border-radius: 4px
  display: flex
  flex-direction: column
  text-align: center
  justify-content: space-between
  flex-shrink: 0;
  &__text
    font-size: 8px
    line-height: 10px
    font-weight: 600
  &__counter
    font-size: 14px
    line-height: 18px
    font-weight: 700
   
  // СЛАЙДЕР
.swiper-container
  position: relative 
  max-width: 728px
  height: 450px
  margin-left: 0
  margin-right: 0
  border-radius: 8px
  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    z-index: 100
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)  
.swiper-slide
  &__img
    width: 100%
.slider-button
  z-index: 999
  position: absolute
  width: 30px
  height: 30px
  top: 50%
  transform: translateY(-50%)
  background-color: transparent
  border: none
  cursor: pointer
  &--next
    right: 18px
    background-image: url(../images/chevron-next.svg)
    background-position: center
    background-repeat: no-repeat 
  &--prev
    left: 18px
    background-image: url(../images/chevron-prev.svg)  
    background-position: center
    background-repeat: no-repeat
